html{
  height: 100%;
}
body{
  margin:0;
  padding:0;
  scroll-behavior: smooth;
}

.dark-theme{
  background: linear-gradient(#0e1522, #192a3d);
  background-size: 100%;
  background-attachment: fixed;
  color: #fff;
  background-repeat: no-repeat;
}
.light-theme{
  background: #fff;
}
.light-theme p{
  color: #010106
}
.light-theme header{
  background: rgb(189, 189, 189);
}
.light-theme .project{
  background-color: rgb(196, 196, 196);
}
.light-theme .publication{
  background-color: rgb(196, 196, 196);
}
.light-theme .nav_button{
  background-color: rgb(189, 189, 189);
  color: #010106;
}
.light-theme h1{
  color: #010106;
}
.light-theme h2{
  color: #010106;
}
.light-theme h3{
  color: #010106;
}
.light-theme h4{
  color: #010106;
}
.light-theme h5{
  color: #010106;
}
.light-theme .nav_button:hover{
  background-color: #fff;
  color: #010106;
}
.logo{
    margin-left: 0px;
}
.main{
  display: flex;
  flex-direction: column;
  margin-top: 15vh;
}

.title{
  font-family: "Input Mono", monospace;
  font-weight: bold;
}

.main-header{
  padding: 15px;
  background: rgba(0, 0, 0, 0.05);
  align-items: stretch;
  display: flex;
  flex-direction: row;
  height: 50vh;
  width: 100%;
}
.main-header .explanation{
  display: flex;
  flex-direction: column;
}
.main-authorization{
  margin-top: 10vh;
  display: flex;
  flex-direction: row;
  align-items: baseline;
}
.main-authorization-button{
  background-color: #192a3d;
  margin-left: 10px;
  margin-right: 10px;
  color: #fff;
  height: 50px;
  min-width: 100px;
  border-radius: 8px;
  border: none;
  padding: 5px;
  transition: .3s;
}
.main-authorization-button:hover{
  background-color: #fff;
  color: #010106;
  box-shadow: 0 0 5px #fff,
              0 0 15px #fff,
              0 0 25px #fff,
              0 0 35px #fff;
}
.main-header img{
  min-width: 100vh;
  height: 48vh;
}
.main-center{
  margin-top: 3vh;
}
.about-elements{
  background: rgba(0, 0, 0, 0.05);
  margin-top: 100px;
  padding: 15px;
  display: flex;
  flex-direction: row;
  opacity: 0;
  transform: translateX(-100%); 
  transition: opacity .5s, transform .5s;
}

.about-elements.show{
  opacity: 1;
  transform: translateX(0)
}

.about-elements h2{
  padding: 10px;
  font-size: 50px;
  min-height: 20vh;
  min-width: 50vh;
  border-right: 2px solid #fff;
}
.about-elements p{
  margin-left: 15px;
  font-size: 20px;
}
.about-elements img{
  margin-left: 30vh;
  min-width: 85.5vh;
  height: 50vh;
}
.top-btn{
  height: 10vh;
  width: 10vh;
  font-size: 5vh;
  border-radius: 8px;
  padding: 1vh;
  border: none;
  background-color: #192a3d;
  color: #fff;
  transition: .3s;
  z-index: 2;
  position: fixed;
  bottom: 3%;
  margin-left: 5%;
}
.top-btn:hover{
  background-color: #fff;
  color: #010106;
  box-shadow: 0 0 5px #fff,
              0 0 15px #fff,
              0 0 25px #fff,
              0 0 35px #fff;
}


header{
  width: 100%;
  max-height: 15vh;
  top: 0%;
  z-index: 2;
  position: fixed;
  padding: 0px;
  background: rgba(0, 0, 0, 0.05);
  display: inline-flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  backdrop-filter: blur(15px);
}
.navigation{
  margin-left: 120px;
}
.nav_button {
  margin-left: 5px;
  top: 0%;
  height: 111px;
  font-size: 1rem;
  padding-top: 5px;
  background: rgba(0, 0, 0, 0.005);
  color: #fff;
  border: none;
  font-weight: 500;
  cursor: pointer;
  min-width: 135px;
  transition: .3s;
}

.nav_button:hover{
  background-color: #fff;
  color: #010106;
  box-shadow: 0 0 5px #fff,
              0 0 15px #fff,
              0 0 25px #fff,
              0 0 35px #fff;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  right: 1%;
  min-width: 132px;
  margin-left: 1vh;
  border-radius: 8px;
  padding: 25px;
  max-height: 195px;
  background: rgba(0, 0, 0, 0.8);
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  text-decoration: none;
}
.dropdown-content p{
  margin-top: 10px;
  margin-left: 40px;
}
.dropdown-button{
  background-color: #192a3d;
  margin-top: 5px;
  color: #fff;
  height: 50px;
  min-width: 100px;
  border-radius: 8px;
  border: none;
  padding: 5px;
  transition: .3s;

}
.dropdown-button:hover{
  background-color: #fff;
  color: #010106;
  box-shadow: 0 0 5px #fff,
              0 0 15px #fff,
              0 0 25px #fff,
              0 0 35px #fff;
}
.dropdown:hover .dropdown-content {display: block;}

.mobile-authorization{
  display: none;
}

.mobile-menu{
  display: none;
}


footer{
  background-color: rgba(0, 0, 0, 0.5);
  padding: 20px;
  color: #fff;
  clear: both;
  display: flex;
  flex-direction: row;
  position: relative;
  min-height: 300px;
  width: 100%;
  margin-top: 20vh;
}
.copyright{
  margin-top: 10px;
}
.footer-center{
  margin-left: 100px;
  display: flex;
  flex-direction: row;
}

li{
  list-style-type: none;
}

ul li a{
  color: #fff;
}

.footer-center ul li a:hover{
  color: #c0c0c0;
  text-decoration: underline;
}

.terms{
  margin-left: 50px;
}

.projects{
  display: flex;
  flex-wrap: wrap; 
  justify-content: left;
}

.project{
  max-width: 20rem;
  overflow: hidden;
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.5);
  background: #0e1522;
  margin-top: 15vh;
  transition: transform 0.3s ease-in-out;
  border-radius: 0.5rem;
  height: fit-content;
  margin-left: 15vh;
}
.project p{
  padding: 10px;
}

.project h1{
  padding: 10px;
}
.project .btn-info{
  margin-left: 10px;
  margin-bottom: 10px;
}

.project:hover{
  transform: scale(1.03);
}

.project-info{
  display: flex;
  flex-direction: column;
}
.project-info p{
  color: #6b7280;
}

.project-info img{
  margin-left: 3px;
  border-radius: 5px;
}

.project-info .btn-row {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.user-info-row{
  margin-top: 5vh;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.img-left-project {
  max-width: 350px;
  max-height: 300px;
  margin-right: 20px;
}

.meetings{
  display: flex;
  flex-wrap: wrap; 
  justify-content: left;
}

.meeting{
  padding: 10px;
  max-width: 30rem;
  overflow: hidden;
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.5);
  background-color: #1d1d1d;
  margin-top: 1.5rem;
  transition: transform 0.3s ease-in-out;
  border-radius: 0.5rem;
  height: fit-content;
  margin-left: 15vh;
}
.meeting:hover{
  transform: scale(1.03);
  cursor: pointer;
}

.publications{
  flex-grow: 1;
  padding: 1rem;
  display: flex;
  flex-direction: column;
}

.publication{
  background: #0e1522;
  padding: 10px;
  margin-top: 120px;
  width: 205vh;
  min-height: 150px;
  margin-left: 30px;
  display: flex;
  flex-direction: column;
  border-radius: 8px;
}


.publication-info {
  display: flex;
  flex-direction: row;
}
.publication-info p{
  margin-top: 2vh;
}
.publication-info img{
  border-radius: 5px;
  margin-top: 2vh;
  margin-left: 2vh;
}

.img-left {
  float: left;
  margin-right: 20px;
}
.detailed-publication{
  background-color: #fff;
  color: #010106;
  margin-top: 20vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.detailed-publication h1{
  text-align: center;
}
.detailed-publication .img-center{
  width: fit-content;
  height: fit-content;
}

.code{
   background-color: #010106;
   color: #fff;
   font-family: "Input Mono", monospace;
   width: fit-content;
   height: fit-content;
   width: 70vh;
   height: fit-content;
   font-size: 1.1rem;
   margin-left: 20px;
   padding: 10px;
}

.comments{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 5vh;

}

.commentform{
  width: 530px;
  color: #fff;
  padding: 15px;
  background-color: #0e1522;
  border-radius: 8px;
}

.comment{
  max-width: 530px;
  padding: 15px;
  background-color: #0e1522;
  color: #fff;
  border-radius: 8px;
  margin-bottom: 5vh;
  margin-top: 10vh;
}
.comment img{
  max-width: 65vh;
}

.answers{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 5vh;

}

.answerform{
  width: 530px;
  color: #fff;
  padding: 15px;
  background-color: #0e1522;
  border-radius: 8px;
}

.answer{
  max-width: 530px;
  padding: 15px;
  background-color: #0e1522;
  color: #fff;
  border-radius: 8px;
  margin-bottom: 5vh;
  margin-top: 10vh;
}


.pre-header{
  overflow: hidden; 
  height: fit-content;
  margin-top: 15vh;
  background-color: rgba(0, 0, 0, 0.05);
  display: flex;
  flex-direction: row;
  padding: 10px;
  box-sizing: border-box;
  align-items: center;
}
.pre-header .btn-success{
  min-width: 150px;
  padding-right: 10px;
  align-items: baseline;
  margin-left: 10px;
  align-items: center;
}

.search-form input{
     justify-content: flex-end;
     margin-left: 10px;
     height: 40px;
     width: 300px;
     border-radius: 5px;
     border-top-right-radius: 0px;
     border-bottom-right-radius: 0px;
     border: none;
}
.search-form button{
  height: 40px;
  width: fit-content;
  border: none;
  border-radius: 5px;
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
  background-color: #010106;
  color: #fff;
  margin-left: -5px;
}
.no_objects_found_p{
   font-size: 30px;
}
.no_objects_found{
  margin-top: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.btn-light{
  margin-left: 10px;
}
.btn-danger{
  margin-left: 10px;
}
.like-form {
  display: flex;
  flex-direction: row;
  align-items: baseline;
}


.login-body{
  background: linear-gradient(#0e1522, #192a3d);
  background-size: 100%;
  background-attachment: fixed;
  color: #fff;
  background-repeat: no-repeat;
}
.register-body{
  background: linear-gradient(#0e1522, #192a3d);
  background-size: 100%;
  background-attachment: fixed;
  color: #fff;
  background-repeat: no-repeat;
}

.authorization {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 400px;
  padding: 40px;
  transform: translate(-50%, -50%);
  background-color: rgba(0, 0, 0, 0.5);
  box-sizing: border-box;
  box-shadow: 0 15px 25px rgba(0,0,0,.6);
  border-radius: 8px;
}

.authorization h2 {
  margin: 0 0 30px;
  padding: 0;
  color: #fff;
  text-align: center;
}

.authorization .form-element {
  position: relative;
}

.authorization .form-element input {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  color: #fff;
  margin-bottom: 30px;
  border: none;
  border-bottom: 1px solid #fff;
  outline: none;
  background-color: rgba(0, 0, 0, 0.000000000009);
}
.authorization .form-element label {
  position: absolute;
  top:0;
  left: 0;
  padding: 10px 0;
  font-size: 16px;
  color: #fff;
  pointer-events: none;
  transition: .3s;
}

.authorization .form-element input:focus ~ label,
.authorization .form-element input:valid ~ label {
  top: -20px;
  left: 0;
  font-size: 15px;
}


.authorization .form-element input:-webkit-autofill,
.authorization .form-element input:-webkit-autofill:hover, 
.authorization .form-element input:-webkit-autofill:focus, 
.authorization .form-element input:-webkit-autofill:active{
    background-clip: text;
    -webkit-text-fill-color: #ffffff;
    transition: background-color 5000s ease-in-out 0s;
}

.authorization button {
  position: relative;
  display: inline-block;
  background-color: #192a3d;
  margin-top: 10px;
  color: #fff;
  height: 50px;
  min-width: 100px;
  border-radius: 8px;
  border: none;
  padding: 5px;
  transition: .3s;
}

.authorization button:hover {
  cursor: pointer;
  background-color: #fff;
  color: #010106;
  box-shadow: 0 0 5px #fff,
              0 0 15px #fff,
              0 0 25px #fff,
              0 0 35px #fff;
}




.profile-navigation-bar{
  background-color: #0e1522;
  color: #fff;
  float: left;
  height: 100%;
  width: 40vh;
  position: fixed;
  box-sizing: border-box;
  z-index: 1;
}

.user-info{
  margin-top: 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
  max-height: 190px;
}

.profile-user-photo{
  border-radius: 20px;
}


.navigation-profile{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.profile-nav-button{
  margin-left: -3vh;
  text-align: left;
  font-weight: 500;
  min-height: 50px;
  font-size: 1.1rem;
  margin-left: -7%;
  padding: 10px;
  background-color: rgba(0, 0, 0, 0.005);
  color: #fff;
  border: none;
  cursor: pointer;
  min-width: 250px;
  transition: .3s;
}

.profile-nav-button:hover{
  color: #010106;
  background-color: #fff;
  box-shadow: 0 0 5px #fff,
              0 0 15px #fff,
              0 0 25px #fff,
              0 0 35px #fff;
}

.delete{
  max-height: 40px;
  max-width: 55px;
  text-align: center;
}

.column{
  display: flex;
  flex-direction: column;
  margin-top: 15vh;
  text-align: center;
  color: #fff;
}

.projects-profile{
  margin-top: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.profile-form-container {
  position: relative;
  display: inline-block;
}

.profile-form {
  position: absolute;
  bottom: 0%;
  left: 100%;
  z-index: 1;
  list-style: none;
  padding: 20px;
  background-color: rgba(0, 0, 0, 0.8);
  display: none;
  min-width: 300px;
  min-height: 100px;
  border-radius: 8px;
}
.profile-form input{
  margin-bottom: 15px;
  border: none;
  padding: 5px;
  min-width: 400px;
  border-radius: 5px;
  font-size: 1.1rem;
}
.profile-form select{
  margin-bottom: 15px;
  min-width: 400px;
  border-radius: 5px;
  padding: 5px;
}
.profile-form .btn-success{
  margin-top: 5px;
}

.profile-form-container:hover .profile-form {
  display: block;
}

.user-info-option{
  display: flex;
  flex-direction: row;
  align-items: baseline;
  float: left;
}

#hideButton{
  height: 40px;
  width: 40px;
  font-size: 15px;
  border-radius: 8px;
  padding: 1vh;
  border: none;
  background-color: #192a3d;
  color: #fff;
  transition: .3s;
  left: 0.5%;
  margin-left: 5%;
}
#showButton{
  margin-top: 20vh;
  height: 40px;
  width: 40px;
  font-size: 15px;
  border-radius: 8px;
  padding: 1vh;
  border: none;
  background-color: #192a3d;
  color: #fff;
  transition: .3s;
  z-index: 2;
  position: fixed;
  top: 1%;
  left: 0.5%;
  margin-left: 5%;
}

.new-publication{
  margin-top: 20vh;
}

.publicationForm{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 30%;
  width: fit-content;
  padding: 20px;
  background-color: #0e1522;
  box-shadow: 0 15px 25px rgba(0,0,0,.6);
  border-radius: 8px;
}
.new-publication textarea{
  height: 10vh;
}
.new-publication h2{
  margin: 0 0 30px;
  padding: 0;
  color: #fff;
  text-align: center;
}

.new-meeting{
  margin-top: 20vh;
}

.meetingForm{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 30%;
  width: fit-content;
  padding: 20px;
  background-color: #0e1522;
  box-shadow: 0 15px 25px rgba(0,0,0,.6);
  border-radius: 8px;
}
.new-meeting textarea{
  height: 10vh;
}
.new-meeting h2{
  margin: 0 0 30px;
  padding: 0;
  color: #fff;
  text-align: center;
}

.edit-publication{
  margin-top: 20vh;
}

.edit-publication textarea{
  height: 10vh;
}
.edit-publication h2{
  margin: 0 0 30px;
  padding: 0;
  color: #fff;
  text-align: center;
}


#load-more-section{
  margin-left: 47%
}
#load-more-button{
  border: none;
  border-radius: 8px;
  height: 50px;
  min-width: 100px;
  padding: 1vh;
  background-color: #192a3d;
  color: #fff;
  transition: .3s;
}
#load-more-button:hover{
  background-color: #fff;
  color: #010106;
  box-shadow: 0 0 5px #fff,
              0 0 15px #fff,
              0 0 25px #fff,
              0 0 35px #fff;
}

.profile-data-settings{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.settings-profile-form{
  width: 400px;
  padding: 40px;
  background-color: #0e1522;
  box-sizing: border-box;
  box-shadow: 0 15px 25px rgba(0,0,0,.6);
  border-radius: 8px;
}

.settings-profile-form h2{
  margin: 0 0 30px;
  padding: 0;
  color: #fff;
  text-align: center;
}
.settings-profile-form input{
  margin-bottom: 15px;
  border: none;
  padding: 5px;
  min-width: 300px;
  border-radius: 5px;
  font-size: 1.1rem;
}

.settings-profile-form select{
  margin-bottom: 15px;
  max-width: 300px;
  border-radius: 5px;
  padding: 5px;
}

.flatpages-content{
  margin-top: 50px;
}

.django-ckeditor-widget{
  width: 500px;
}

.languageForm{
  align-items: center;
}
.language-select{
  background-color: #fff;
  padding: 5px;
  font-size: 1.1rem;
  border-radius: 5px;
  border: none;
  margin-bottom: 5px;
}

@media only screen and (min-width: 700px){
  .publication-info {
    display: flex;
    flex-direction: row;
    justify-content: stretch;
  }
}

@media only screen and (max-width: 800px) {
  header{
    width: 100%;
    max-height: 20vh;
    top: 0%;
    z-index: 2;
    position: fixed;
    background: rgba(0, 0, 0, 0.05);
    display: flex;
    box-sizing: border-box;
  }

  .logo{
    margin-right: 90px;
  }
  .navigation{
    display: none;
  }

  .mobile-menu {
  display: block;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 3;
}

.mobile-menu button {
  display: block;
  position: fixed;
  top: 20px;
  right: 20px;
  padding: 10px;
  height: 5vh;
  width: 5vh;
  background-color: #0e1522;
  color: #fff;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}
.mobile-menu button:hover{
  background-color: #fff;
  color: #010106;
  box-shadow: 0 0 5px #fff,
              0 0 15px #fff,
              0 0 25px #fff,
              0 0 35px #fff;
}

.mobile-menu-items {
  display: flex;
  flex-direction: column;
  position: fixed;
  font-size: 20px;
  top: 100px;
  right: -300px; 
  min-height: 300px;
  border-radius: 8px;
  width: 300px;
  background: rgba(0, 0, 0, 0.9);
  padding: 20px;
  margin: 0;
  transition: right .3s ease-in-out;
  z-index: 2;
  position: absolute;
}
.mobile-menu-items a{
  margin-top: 5px;
  color: #fff;
  font-size: 30px;
}

.mobile-authorization{
  display: block;
}

.mobile-authorization-options{
  margin-right: 50px;
  display: flex;
  flex-direction: row;
  padding: 10px;
  align-items: center;
  min-width: 100px;
  height: fit-content;
  background: rgba(0, 0, 0, 0.0005);
}
.mobile-authorization-options button{
  display: block;
  position: fixed;
  top: 20px;
  right: 100px;
  padding: 5px;
  height: 45px;
  min-width: 100px;
  font-size: 1.1rem;
  background-color: #0e1522;
  color: #fff;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}
.mobile-authorization-options button:hover{
  background-color: #fff;
  color: #010106;
  box-shadow: 0 0 5px #fff,
              0 0 15px #fff,
              0 0 25px #fff,
              0 0 35px #fff;
}

  .main-header{
    padding: 15px;
    background: rgba(0, 0, 0, 0.05);
    align-items: stretch;
    display: flex;
    flex-direction: column;
    height: 50vh;
    width: 100%;
  }
  .main-header .explanation{
    display: flex;
    flex-direction: column;
  }
  .main-authorization{
    margin-top: 10vh;
    margin-left: 7vh;
    display: flex;
    flex-direction: row;
    align-items: baseline;
  }
  .main-authorization-button{
    background-color: #192a3d;
    color: #fff;
    height: 50px;
    min-width: 100px;
    border-radius: 8px;
    border: none;
    padding: 5px;
    transition: .3s;
  }
  .main-authorization-button:hover{
    background-color: #fff;
    color: #010106;
    box-shadow: 0 0 5px #fff,
                0 0 15px #fff,
                0 0 25px #fff,
                0 0 35px #fff;
  }
  .main-header img{
    margin-top: 2vh;
    min-width: 10vh;
    height: 50vh;
  }
  .main-center{
    margin-top: 10vh;
  }
  .about-elements{
    border-top: 2px solid #fff;
    background: rgba(0, 0, 0, 0.05);
    padding: 15px;
    margin-top: 5vh;
    display: flex;
    flex-direction: column;
    opacity: 0;
    transform: translateX(-100%); 
    transition: opacity 0.5s, transform 0.5s;
  }

  .about-elements.show{
    opacity: 1;
    transform: translateX(0)
  }

  .about-elements h2{
    padding: 10px;
    font-size: 50px;
    min-height: 20vh;
    min-width: 10vh;
    border-right: none;
  }
  .about-elements p{
    margin-left: 0px;
    font-size: 20px;
  }
  .about-elements img{
    margin-left: 0px;
    min-width: 10vh;
    height: 30vh;
  }

  footer{
    background-color: rgba(0, 0, 0, 0.5);
    padding: 30px;
    color: #fff;
    clear: both;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 300px;
    min-width: 100%;
    margin-top: 20vh;
  }
  .copyright{
    margin-top: 10px;
  }
  .footer-center{
    margin-left: 0px;
    display: flex;
    flex-direction: row;
  }
  .top-btn{
    display: none;
  }

  .pre-header{
    margin-top: 15vh;
    display: flex;
    flex-direction: column;
    padding: 10px;
    align-items: center;
  }
  .pre-header .btn-success{
    min-width: 150px;
    margin-bottom: 10px;
    padding-right: 10px;
    align-items: baseline;
    margin-left: 0px;
    align-items: center;
  }
  
  .search-form input{
       justify-content: flex-end;
       margin-left: 10px;
       height: 40px;
       width: 300px;
       border-radius: 5px;
       border-top-right-radius: 0px;
       border-bottom-right-radius: 0px;
       border: none;
  }
  .search-form button{
    height: 40px;
    width: fit-content;
    border: none;
    border-radius: 5px;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    background-color: #010106;
    color: #fff;
    margin-left: -5px;
  }
  
  .projects{
    display: flex;
    flex-direction: column;
    align-items: center; 
  }
  
  .project{
    max-width: 20rem;
    overflow: hidden;
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.5);
    background: #0e1522;
    margin-top: 15vh;
    transition: transform 0.3s ease-in-out;
    border-radius: 0.5rem;
    height: fit-content;
    margin-left: 0px;
  }
  
  .meetings{
    display: flex;
    flex-direction: column;
    align-items: center; 
  }
  
  .meeting{
    max-width: 30rem;
    overflow: hidden;
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.5);
    background-color: #1d1d1d;
    margin-top: 1.5rem;
    transition: transform 0.3s ease-in-out;
    border-radius: 0.5rem;
    height: fit-content;
    margin-left: 0px;
  }
  .publications{
    flex-grow: 1;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .publication{
    background: #0e1522;
    padding: 15px;
    margin-top: 120px;
    width: 45vh;
    min-height: 150px;
    margin-left: 0px;
    display: flex;
    flex-direction: column;
    border-radius: 8px;
  }
  
  .publication-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .publication-info button{
    margin-top: 10px;
  }


  .publication-info p{
    margin-top: 2vh;
  }
  
  .img-left {
    float: none;
    margin-right: 0px;
    max-width: 42vh;
  }
  .publication .btn-info{
    margin-top: 1vh;
  }
  .detailed-publication{
    background-color: #fff;
    color: #010106;
    margin-top: 20vh;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .detailed-publication h1{
    text-align: center;
  }
  .detailed-publication .img-center{
    max-width: 30vh;
    height: fit-content;
  }
  
  .code{
    background-color: #010106;
    color: #fff;
    font-family: "Input Mono", monospace;
    width: fit-content;
    height: fit-content;
    max-width: 270px;
    height: fit-content;
    font-size: 1.1rem;
    margin-left: 0px;
    padding: 10px;
  }
  
  .commentform{
    width: 40vh;
    color: #fff;
    padding: 10px;
    background-color: #0e1522;
    border-radius: 8px;
  }
  .commentform form input{
    max-width: 10vh;
  }

  .answers{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 5vh;
  
  }
  
  .answerform{
    width: 400px;
    color: #fff;
    padding: 10px;
    background-color: #0e1522;
    border-radius: 8px;
  }
  
  .answer{
    max-width: 300px;
    padding: 15px;
    background-color: #0e1522;
    color: #fff;
    border-radius: 8px;
    margin-bottom: 5vh;
    margin-top: 10vh;
  }

  #load-more-section{
    margin-top: 20px;
    margin-left: 0%
  }

  
  .publicationForm{
    display: flex;
    flex-direction: column;
    margin-left: 0%;
    width: fit-content;
    padding: 3px;
    background-color: #0e1522;
    box-shadow: 0 15px 25px rgba(0,0,0,.6);
    border-radius: 8px;
  }
  .new-publication textarea{
    max-width: 350px;
    height: 50px;
  }
  .new-publication h2{
    margin: 0 0 30px;
    padding: 0;
    color: #fff;
    text-align: center;
  }
  
  .edit-publication{
    margin-top: 20vh;
  }
  
  .edit-publication textarea{
    max-width: 350px;
    height: 50px;
  }
  .edit-publication h2{
    margin: 0 0 30px;
    padding: 0;
    color: #fff;
    text-align: center;
  }
  .django-ckeditor-widget{
    max-width: 350px;
  }


}