{% extends 'main/main.html' %}
{% load static i18n %}

{% block title %} {% trans 'Discussion №' %} {{ discussion.id }}{% endblock %}
{% block content %}
{% if request.user.is_authenticated %}

<body>
    <div class="detailed-discussion detailed-publication">
    <h1 class="detailed-discussion-title">{{ discussion.title }}</h1>
    {% if discussion.photos %}
        <p><img class="img-center" src="{{discussion.photos.url}}"></p>
    {% endif %}
    {% if discussion.user.photo %}
      <img src="{{ discussion.user.photo.url }}" height=30 width=30><br><br>
       {% else %}
      <img src="{% static 'main\img\user.png' %}" height=30 width=30><br><br>
       {% endif %} 
    <p class="detailed-discussion-user"><a href="">{{ discussion.user.user }}</a></p>
    
    <div class="comments">
      <h1>{% trans 'Discussion' %}</h1>
      {% if user.is_active %}
      <div class="commentform">
      <form action="{% url 'discussion-detailed' discussion.id %}" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="btn btn-success"><i class="fa-solid fa-paper-plane"></i></button>
    </form>
    </div>
    
    
    {% endif %}
      {% for comment in discussion.comments.all %}
      <div class="comment">
           {% if comment.user.avatar %}
           <img src="{{ comment.user.avatar.url }}" height=50 width=50><br><br>
           {% else %}
           <img src="{% static 'main\img\user.png' %}" height=50 width=50><br><br>
           {% endif %} 
           <p>{{ comment.user.user }}</p>
           <p>{{ comment.content }}</p>
           {% if comment.photos %}
          <p><img class="img-center" src="{{comment.photos.url}}"></p>
        {% endif %}
           <p>{% trans 'Commented' %} {{ comment.posted|timesince }}  {% trans 'ago' %} </p></div>
      {% endfor %}
    </div>
  </div>
</body>
{% endif %}
{% endblock content %}