{% load static i18n %}
{% block title %}{% trans 'New password' %}{% endblock %}

{% block content %}
{% for message in error_message %}
        <div class="alert alert-{{ message.tags }}">
            {{ message }}
        </div>
{% endfor %}

<h1>{% trans 'Update Password' %}</h1>
<form method="post" action="{% url 'new-password' %}">
  {% csrf_token %}
  <label for="old_password">{% trans 'Enter your old password:' %}</label>
  <input type="old_password" name="old_password">
  <label for="new_password">{% trans 'Enter a new one:' %}</label>
  <input type="new_password" name="new_password">
  <button type="submit">{% trans 'Update Password' %}</button>
</form>

{% endblock content %}