{% extends 'main/main.html' %}
{% load static i18n %}
{% block title %}{% trans 'New discussion' %}{% endblock %}

{% block content %}

<div class="new-publication">
  <div class="publicationForm">
    <h1>{% trans 'New discussion' %}</h1>
    {% if user.is_active %}
    <form action="{% url 'new-discussion' %}" method="post" enctype="multipart/form-data" id="discussionForm">
      {% csrf_token %}
      {{ form.as_p }}
      <button type="submit" class="btn btn-success"><i class="fa-solid fa-paper-plane"></i></button>
      {% endif %}
  </form>
  </div>
</div>
<script>
  document.getElementById("discussionForm").onkeydown = function(event){
   if(event.keyCode == 13){
    document.getElementById("discussionForm").submit()
   }
};
</script>
{% endblock content %}