{% extends 'main/main.html' %}
{% load static i18n %}
{% block title %}{% trans 'Questions' %}{% endblock %}

{% block content %}
<div class="pre-header">
  <h1 class="questions-description"><i class="fa-solid fa-question"></i> {% trans 'Questions' %}</h1>
  {% if user.is_authenticated %}
  <a href="{% url 'new-question' %}"><button class="btn btn-success"><i class="fa-solid fa-pen"></i> {% trans 'New question' %}</button></a>
  {% endif %}
  <form id="search" method="GET" action="" class="search-form">
    <input type="text" name="q" value="" placeholder="{% trans 'Search' %}">
    <button type="submit"><i class="fa-solid fa-magnifying-glass"></i></button>
  </form>
</div>

<script>
   function handleFormSubmission(event){
    event.preventDefault()
    var query = document.querySelector('input[name="q"]').value;
    window.location.href = '/questions/?q=' + query;
   }
</script>

{% if query %}
  {% if questions %}
    <div class="questions publications">
      {% for question in questions %}
        <div class="question publication">
          <div class="question-info publication-info">
            <h1>{{ question.title }} |</h1>
            {% if question.user.photo %}
              <img src="{{ question.user.photo.url }}" height=30 width=30><br><br>
            {% else %}
              <img src="{% static 'main\img\user.png' %}" height=30 width=30><br><br>
            {% endif %} 
            <p><a href="">{{ question.user.user }}</a> {% trans 'posted on' %} {{ question.posted }}</p>
          </div>
          <form action="{% url 'api-save' %}" method="POST" class="save-form" id="{{ question.id }}">
            {% csrf_token %}
            <input type="hidden" name="question_id" value="{{ question.id }}">
            <button type="submit" class="btn btn-light save">
              <i class="fa-solid fa-bookmark"></i>
            </button>
          </form>
          <div class="question-details publication-details">
            {% if question.photos %}
              <img class="img-left" src="{{ question.photos.url }}">
            {% endif %}
            <p>{{ question.info }}</p>
            <a href="{% url 'question-detailed' question.id %}"><button class="btn btn-info">{% trans 'Learn more' %}</button></a>
          </div>
        </div>
      {% endfor %}
    </div>
  {% else %}
  <div class="no_objects_found"><img src="{% static 'main\img\no_objects_found.png' %}" alt="" height="150" width="150"><p class="no_objects_found_p">{% trans 'No matching questions found.' %}</p></div>
  {% endif %}
{% else %}
<div class="questions publications">
    {% for question in questions %}
      <div class="question publication">
        <div class="question-info publication-info">
          <h1>{{ question.title }} |</h1>
          {% if question.user.photo %}
            <img src="{{ question.user.photo.url }}" height=30 width=30><br><br>
          {% else %}
            <img src="{% static 'main\img\user.png' %}" height=30 width=30><br><br>
          {% endif %} 
          <p><a href="">{{ question.user.user }}</a> {% trans 'posted on' %} {{ question.posted }}</p>
          <form action="{% url 'api-save' %}" method="POST" class="save-form" id="{{ question.id }}">
            {% csrf_token %}
            <input type="hidden" name="question_id" value="{{ question.id }}">
            <button type="submit" class="btn btn-light save">
              <i class="fa-solid fa-bookmark"></i>
            </button>
          </form>
        </div>
        <div class="question-details publication-details">
          {% if question.photos %}
            <img class="img-left" src="{{ question.photos.url }}">
          {% endif %}
          <p>{{ question.info }}</p>
          <a href="{% url 'question-detailed' question.id %}"><button class="btn btn-info">{% trans 'Learn more' %}</button></a>
        </div>
      </div>
      {% endfor %}
  </div>
</div>
{% endif %}
{% endblock %}


